body {
    display: flex;
    color: white;
    background-color: #1f2937;
    flex-direction: column;
}

.logo-links {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    gap: 280px;
    margin-bottom: 55px;
}

.links {
   display: flex;
   gap: 20PX;
   list-style: none;
}

.top-body{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 100px;
    height: 300px;
}


a {
   text-decoration: none;
}

.golden-header-image {
    height: 300px;
    width: 500px;
}

h1 {
    font-size: 48px;
    font-weight: 900; 
}

.header-logo{
    font-size: 24px;
    color: #f9faf8;
}

.hero-text{
    font-size: 18px;
    color: #e5e7eb;
}

button {
    color: white;
    background-color:#3882f6;
    border-radius: 15%;
    font-size: 18px;
}



h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    color: #1f2937;;
    background-color: white;
    margin-bottom: 0;
}

.card-center {
    display: flex;
    justify-content: space-between;
    padding: 10px 250px;
    background-color: white;
}


.image-golden-center {
    width: 150px;
    height: 150px;
    margin:  30px;
    
}

.card-text {
    color: black;
}


.quotes {
    color: #1f2937;
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    text-align: center;
    display: flex;
    align-items: flex-end;
    padding: 0px 270px;
}